@import "_picocss/pico.scss";

// Simplify inline code in headers and links
h1, h2, h3, h4, h5, h6, a {
    code {
        background: none;
        border: none;
        display: initial;
        padding: initial;
    }
}

html.home {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        max-width: 32rem;
    }

    main {
        text-align: center;

        img {
            max-height: 6rem;
        }
    }

    nav {
        justify-content: space-around;

        ul {
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
            }

        }
    }

}

html.blog-index {
    ul.posts {
        padding-left: 0;
        li {
            list-style: none;

            a {
                display: flex;
                gap: 2rem;

                .date {
                    width: 6rem;
                    flex-shrink: 0;
                }

                .title {
                    flex-shrink: 1;
                }
            }

        }
    }
}

@keyframes fly-away {
    to {
        transform: translate(50vw, -10vw) scale(0, 0);
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .sigil {
        a {
            display: block;
            border-radius: 50%;
        }
        svg {
            margin: auto;
            height: 6rem;
            width: 6rem;
            color: var(--contrast);
            @media only screen and (prefers-color-scheme: dark) {
                color: var(--contrast-inverse);
            }

            animation: unset;
            &:active {
                animation: 500ms ease-in forwards fly-away;
            }
        }
    }

    .copyright {
        color: var(--muted-color);
    }
}


.footnote-definition {
    margin-top: 5rem;
    padding-top: 3rem;
    border-top: solid 1px var(--muted-color);
	display: flex;
	gap: 0.5rem;
	align-items: baseline;

    .footnote-definition-label {
        width: 1rem;
        flex-shrink: 0;
    }
}
