<footer>
    <div class="sigil">
        <a href="{{ get_url(path='@/_index.md') }}">
            {{ load_data(path="/tad-lispy-silhouette-optimized.svg") | safe }}
        </a>
    </div>
    <div class="copyright">
        © Tad Lispy
    </div>
</footer>
