{%- block variables -%}
{#- Default values for variables that can be used in this template -#}

{%- set page_class  = "" %}
{%- set description = "Personal website of Tad Lispy" -%}
{%- set title       = "Tad Lispy" -%}

{%- endblock variables -%}

<!doctype html>
<html class="no-js {{ page_class }}" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>

        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ get_url(path = "/style.css") }}" type="text/css" media="screen" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='/apple-touch-icon.png' )}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path = '/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path = '/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ get_url(path = '/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ get_url(path = '/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body class="container">
        {% block content %}
        {% endblock content %}

        {# Fix the closing comment bracket on this line to dump available data # }
        {%- if config.mode == "serve" %}
        <article>
            <header>Template context</header>
            <pre><code>
                {{- __tera_context -}}
            </code></pre>
        </article>
        {% endif -%}
        {# #}

    </body>
</html>
