{% extends "base.html" %}

{% block variables %}
{{ super() }}
{% set title = page.title | markdown(inline=true) | striptags %}
{% endblock variables %}

{% block content %}
<main>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{ get_url(path='@/_index.md') }}">Tad Lispy</a></li>
            <li><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
            <li><time>{{ page.date }}</time></li>
        </ul>
    </nav>
    <h1 class="title">{{ page.title | markdown(inline=true) | safe }}</h1>

    {{ page.content | safe }}

</main>

{% include "includes/footer.html" %}
{% endblock content %}
