{% extends "base.html" %}

{%- block variables -%}
{#- These variables are used in base.html. The super call allows inheritance. -#}

{{- super() -}}

{%- set page_class  = "blog-index" -%}
{%- set description = section.description -%}
{%- set title       = section.title ~ " - " ~ title -%}

{%- endblock variables -%}

{% block content %}

<header>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{ get_url(path='@/_index.md') }}">Tad Lispy</a></li>
            <li>Blog</li>
        </ul>
    </nav>
    {{ section.content | safe }}
</header>
<ul class="posts">
    {% for post in section.pages %}
    <li>
        <a href="{{ post.permalink | safe }}">
            <small class="date"><time datetime="{{ post.date }}">{{ post.date }}</time></small>
            <span class="title">{{- post.title | markdown(inline=true) | safe -}}</span>
        </a>
    </li>
    {% endfor %}
</ul>

{% include "includes/footer.html" %}
{% endblock content %}
