{% extends "base.html" %}

{%- block variables -%}
{#- These variables are used in base.html. The super call allows inheritance. -#}

{{- super() -}}

{%- set page_class  = "home" %}
{%- set description = section.description -%}
{%- set title       = section.title -%}

{%- endblock variables -%}

<p>What if I have content here?</p>

{% block content %}
  <main>
      {{ section.content | safe }}
  </main>

  <nav>
      <ul>
          {% for link in section.extra.links %}
          <li><a href="{{ link.href }}" {%- if link.rel -%}rel="{{ link.rel }}"{%- endif -%}>{{ link.label }}</a></li>
          {% endfor %}
      </ul>
  </nav>
{% endblock content %}
